#descriere {
    font-size: 36px;
}
    
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    padding: 0 150px 0 150px;
}

.card {
    display: none;

    width: 250px;
    height: 300px;
    border-radius: 12px;

    padding: 20px;
    cursor: pointer;

    border: 1px solid black;
    
    transition: all 0.4s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

.load {
    padding: 15px;
    border-radius: 12px;
    border: none;

    color: white;
    background-color: black;

    cursor: pointer;
}

.d-block {
    display: block;
    background-color: black;
    color: white;
}

#imagineGalerie {
    transition: all 0.5s ease-in-out;
    height: 500px;
}

#img_container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

#button_container, #index_container {
    width: 100%;
    text-align: center;

}