#descriere {
    font-size: 36px;
}
    
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    padding: 0 150px 0 150px;
}

.card {


    width: 250px;
    height: 300px;
    border-radius: 12px;

    padding: 20px;
    cursor: pointer;

    border: 1px solid black;
    
    transition: all 0.4s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

.load {
    padding: 15px;
    border-radius: 12px;
    border: none;

    color: white;
    background-color: black;
    border: 1px solid black;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.loadInversat {
    background-color: white;
    color: black;
}
.d-block {
    display: block;
    background-color: black;
    color: white;
}

#imagineGalerie {
    transition: all 0.5s ease-in-out;
    height: 500px;
}

#img_container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

#button_container, #index_container {
    width: 100%;
    text-align: center;

}


.box {
    height: 300px;
    width: 500px;
    border: 1px solid black;
    padding: 20px;
}

#textInput {
    display: flex;
    justify-content: center;
    width: 100%;
}

#formLogin {
    border: 1px solid black;
    width: 200px;
    height: auto;
    padding: 20px;

    position: relative;
}
#formLogin input {
    margin-top: 15px;
}

#submissionSuccess {
    background-color: lightgreen;


    position: absolute;
    opacity: 0;


    top: 0;
    left: 0;
    width: 100%;

    transition: all 1s ease-in-out;
}

.enteredInput {
    border: 3px solid black;
}

.welcomeMessage {
    
    width: 100%;
    height: 60vh;

    display: flex;


    justify-content: center;
    align-items: center;
}
#mainTitle {
    font-size: 144px;
}

body {
    transition: all 3s ease-in-out;
}